{% extends '@ezdesign/ui/layout.html.twig' %}

{% trans_default_domain "feature_flag" %}

{% block content %}
    <div class="container">
        <div class="row align-items-stretch ez-main-row ez-dashboard-row">
            <div class="col-md-12">
                <div id="intprog-feature-flag-dashboard-table" data-scopes="{{ scopes|json_encode }}" data-feature-definitions="{{ featureDefinitions|json_encode }}"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('intprog-feature-flag-dashboard-js', null, 'ezplatform') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('intprog-feature-flag-dashboard-css', null, 'ezplatform') }}
{% endblock %}
