
{% block ez_limitation_configurationscope_value %}
{% spaceless %}
    {% for scope in values %}
        <span>{{ scope }}</span>
        {% if not loop.last %}<span>, </span>{% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock ez_limitation_configurationscope_value %}
